<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>iCarros</title>
		<link rel="icon" href="static/favicon.ico">
		<!-- JqueryUI -->
		<link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="static/css/boostrap/bootstrap.min.css">
		<!-- Awesome font icons -->
		<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
		<!--magnific popup-->
		<link rel="stylesheet" type="text/css" href="static/css/magnific-popup/magnific-popup.css" media="screen"/>
		<!-- Owlcoursel -->
		<link rel="stylesheet" type="text/css" href="static/css/owl-coursel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="static/css/owl-coursel/owl.theme.css">
		<!-- Main style -->
		<link  rel="stylesheet" type="text/css" href="static/css/style.css">
		<!-- Padding / Margin -->
		<link  rel="stylesheet" type="text/css" href="static/css/padd-mr.css">
		<!-- dark version-->
		<link id="vers" rel="stylesheet" type="text/css" href="static/css/light-version.css">
	</head>
	<body class="bg-1">
		<!-- Preloader -->
		<div class="preloader"><p></p></div>
		<div id="wrap" class="color1-inher">
			<!-- Header-->
			<header id="wrap-header" class="color-inher">

				<!-- Menu -->
				<div class="menu-bg">
					<div class="container">
						<div class="row">
							<!-- Logo -->
							<div class="col-md-3 col-lg-3">
								<a href="#" class="logo"><img src="static/images/icarros-logo-6.png" alt="logo"></a>
							</div>
				
								<!-- Menu -->	

							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- Banner -->
			<section class="block-sl">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="banner-item banner-2x no-bg color-inher">
								
									
							
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Search option-->
			<div class="search-1 m-t-sm-40">
				<div class="container">
					<div class="search-option p-lg-30 p-b-lg-15 p-b-sm-30 p-r-sm-45 p-xs-15">
						<div class="row">
							<div class="col-sm-12 col-md-7 col-lg-7">
								<div class="row">
									<div class="col-sm-4 col-md-4 col-lg-4 m-b-lg-15 p-r-lg-0 p-r-xs-15">

									<form method="POST"  id="form1" action="/icarros"  enctype="multipart/form-data">
										<div>
												<select class="form-control form-control-lg" aria-labelledby="dropdownMenu1"  name="opcao_1" >
													<option selected>1° Preferência</option>
													<option>Conforto / Acabamento</option>
													<option>Consumo</option>
													<option>Custo / Benefício</option>
													<option>Design</option>
													<option>Dirigibilidade</option>
													<option>Manutenção</option>
													<option>Performance</option>
											
												
												</select >
											
										</div>
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4 m-b-lg-15 p-r-lg-0 p-r-xs-15">

									
												<div>
														<select class="form-control form-control-lg" aria-labelledby="dropdownMenu2"  name="opcao_2" >
															<option selected>2° Preferência</option>
															<option>Conforto / Acabamento</option>
															<option>Consumo</option>
															<option>Custo / Benefício</option>
															<option>Design</option>
															<option>Dirigibilidade</option>
															<option>Manutenção</option>
															<option>Performance</option>
													
														
														</select >
													
												</div>
											</div>
											<div class="col-sm-4 col-md-4 col-lg-4 m-b-lg-15 p-r-lg-0 p-r-xs-15">

									
													<div>
															<select class="form-control form-control-lg" aria-labelledby="dropdownMenu3"  name="opcao_3" >
																<option selected>3° Preferência</option>
																<option>Conforto / Acabamento</option>
																<option>Consumo</option>
																<option>Custo / Benefício</option>
																<option>Design</option>
																<option>Dirigibilidade</option>
																<option>Manutenção</option>
																<option>Performance</option>
														
															
															</select >
														
													</div>
												</div>
										
								</div>
							</div>
							<div class="col-sm-5 col-md-3 col-lg-3">
							
										
											<input type="text" placeholder="Valor do Investimento" class="form-control" name='money' aria-label="Amount (to the nearest dollar)">
										
										 
							</div>
							<div class="col-sm-3 col-md-2 col-lg-2 p-r-sm-0 pull-right pull-left-xs">
								<button type="submit" class="ht-btn ht-btn-default m-t-lg-30 m-t-sm-10 pull-right pull-left-xs"><i class="fa fa-search"></i> Search</button>
							</div>
						</form>

						</div>
					</div>
				</div>
			</div>
			<!-- Main content-->
			<div id="wrap-body" class="p-t-lg-45">
				<div class="container">
					<div class="wrap-body-inner">

					
						<!-- Recent cars -->
				
						<div class="product product-grid product-grid-2 car m-t-lg-90 p-t-sm-35 m-b-lg-20">

							
							<div class="heading">
								<h3>Escolha Personalizada</h3>
							</div>

							<div class="row">	
								<div class="owl" data-items="3" data-itemsDesktop="2" data-itemsDesktopSmall="2" data-itemsTablet="2" data-itemsMobile="1" data-pag="false" data-buttons="true">

								{% for carro in result %}
								<div class="col-lg-12">
									<!-- Product item -->
									<div class="product-item hover-img">
										<a href="#" class="product-img">
											<img src= {{carro['link']}} alt="image">
										</a>	
										<div class="product-caption">
											<h4 class="product-name">
												<a href="#">{{carro['Nome']}} </a><span class="f-18"> </span>
											</h4>
										</div>
										<ul class="absolute-caption">
											<li><i class="fa fa-clock-o"></i>{{carro['Ano']}}</li>
											<li><i class="fa fa-car"></i>Auto</li>
											<li><i class="fa fa-road"></i>Gas</li>
										</ul>
									</div>
								</div>
								{% endfor %}


								</div>
							</div>
							<div class="row">
							<iframe src='https://webchat.botframework.com/embed/bot-arc-rec?s=qDV30Kq8dXs.cwA.8g4.ZBWvhnqXdpSRE-a1tujIS8aUYRTsHimvgm1eOVZo-QM'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
							</div>
						</div>
						<!-- Banner -->
				
					</div>
				</div>
			</div>
			<!-- Footer-->
			<footer id="wrap-footer" class="bg-gray-1 color-inher">
				<!-- Footer top -->
				<div class="footer-top">
					<div class="container">
						<div class="bg-gray-1 p-l-r">
							<div class="row">
								<!-- Company info -->
								<div class="col-xs-12 col-sm-4 col-md-4">
									<div class="heading-1">
										<h3>Company Info</h3>
									</div>
									<p>.</p>
									<ul class="list-default">
										<li><i class="fa fa-signal"></i></li>
										<li><i class="fa fa-phone"></i></li>
										<li><i class="fa fa-envelope-o"></i></li>
										<li><i class="fa fa-globe"></i></li>
									</ul>
								</div>
								<!-- Newsletter -->
								<div class="col-xs-12 col-sm-4 col-md-4">
									<div class="newsletter text-left">
										<div class="heading-1">
											<h3>Newsletter</h3>
										</div>
										<p></p>
										<form>
											<div class="form-group">
												<input type="email" class="form-control form-item" id="Email1" placeholder="Email">
											</div>
											<button type="submit" class="ht-btn ht-btn-default">Subscribe</button>
										</form>
									</div>
								</div>
								<!-- Quick link -->
								<div class="col-xs-12 col-sm-4 col-md-4">
									<div class="heading-1">
										<h3>Quick Link</h3>
									</div>
									<ul class="list-default">
										<li><a href="#"><i class="fa fa-angle-right"></i>Privacy Policy</a></li>
										<li><a href="#"><i class="fa fa-angle-right"></i>Community</a></li>
										<li><a href="#"><i class="fa fa-angle-right"></i>Blog</a></li>
										<li><a href="#"><i class="fa fa-angle-right"></i>Guide use</a></li>
										<li><a href="#"><i class="fa fa-angle-right"></i>Our Servces</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer bottom -->
				<div class="footer-bt color-inher">
					<div class="container">
						<div class="bg-gray-0c p-l-r">
							<div class="row">
								<div class="col-md-6">
									
								</div>
								<div class="col-md-6">
									<ul class="social-icon list-inline pull-right">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-google"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery -->
		<script src="static/js/jquery/jquery-2.2.4.min.js"></script>
		<!-- JqueryUI -->
		<script src="static/js/jquery/jquery-ui.js"></script>
		<!-- Bootstrap -->
		<script src="static/js/bootstrap/bootstrap.min.js"></script>
		<!--magnific popup-->
		<script src="static/js/magnific-popup/jquery.magnific-popup.min.js"></script>
		<!-- Jquery.counterup -->
		<script src="static/js/jquery.counterup/waypoints.min.js"></script>
		<script src="static/js/jquery.counterup/jquery.counterup.min.js"></script>
		<!-- Owl-coursel -->
		<script src="static/js/owl-coursel/owl.carousel.js"></script>
		<!-- Script -->
		<script src="static/js/script.js"></script>
	</body>
</html>